* {
  box-sizing: border-box;
}

body {
  background-color: #232323;
  font-family: "Poppins", Arial, sans-serif;
  color: #fff;
  text-align: center;
}

main {
  margin: 1rem auto;
  width: 90%;
}

input {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

canvas {
  width: 45%;
  background-color: #045;
}

.visual {
  width: 100%;
  margin: auto;
}

.word-sect {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.entry__form__input {
  background-color: #232323;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  width: 2rem;
}

.entry__form__submit-btn {
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  background-color: #37f;
  color: #fff;
}

.correct-input {
  border-bottom: 3px solid #7f3;
}

.incorrect-input {
  border-bottom: 3px solid #f37;
}

.input-section {
  padding: 1rem 0;
  width: 30%;
  margin: auto;
}

#incorrect-letters-pgph {
  /* margin: 1rem; */
  font-size: 1.5rem;
}

#status-modal {
  /* padding: 0; */
  font-size: 1.5rem;
  text-align: center;
  width: 50vw;
  min-height: 20vh;
  background-color: #6d058d;
  color: #fff;
  border-radius: 10px;
}

#status-modal-pgph {
  margin: 0;
}

#play-again-btn {
  background-color: #37f;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 3px solid #fff;
  color: #fff;
  /* border: none; */
  /* color:#fff; */
}

.word-sect__pgph {
  font-size: 1.5rem;
  margin: 0;
}

.container {
  margin: auto;
  width: 45%;
  background-color: #0006;
}

@media (max-width: 1000px) {
  canvas,
  .container {
    width: 80%;
  }
}

@media (max-width: 850px) {
  canvas,
  .container {
    width: 100%;
  }
}
